body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navigationTab ul li a{
    
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    text-align: right;


}


.navigationTab ul li a.active {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.leadership {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leader {
    text-align: center;
    margin: 20px;
}

.leader img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
